@font-face {
    font-family: 'MyCustomFont';
    src: url('../css/fonts/gidole-regular/gidole-regular-webfont.woff2') format('woff2'),
         url('../css/fonts/gidole-regular/gidole-regular-webfont.woff') format('woff'),
  }
  
body {
  /* background-image: url("../img/OpenBar_ALPHA.png"); */
  font-family: 'MyCustomFont', sans-serif;
  background: #040B37;
  color: whitesmoke;
  line-height: 1.6;
  text-align: justify;
  height: 100%;
  margin: 50px0px0px10px;
  padding: 0;
  width: 100%;

}

header {
  font-family: 'gidole-regular', sans-serif;
  background: #040B37;
  color: whitesmoke;
  line-height: 1.6;
  text-align: justify;
  padding: 0;
  width: 100%; 
  height: 100px;
  margin: 10px 0px 50px 0px;
  padding-bottom: 50px;
}

section	 {
  
  font-family: 'MyCustomFont', sans-serif;
  background: #C8D5F1;
  color: black;
  height: 100%;
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 20px;
  padding: 30px; 
  border-radius: 30px;
}

#panier {
  height: 500px;
  background : #EEF2FC;
  border-radius : 30px;
  margin : 10px;
  padding: 5px;
}

.box {
  height : 100px;
  background : #EEF2FC;
  margin : 10px;
  display: flex;
  justify-content: space-around;
  padding : 20px;
  }

footer {
  font-family: 'MyCustomFont', sans-serif;
  color : whitesmoke;
  text-align : center;
}

#colonne-gauche {
  width : 100px;
  height : 100px;
  background : #EEF2FC;
  border : black;
  margin : 10px;
}

#colonne-milieu {
  width : 200px;
  height : 100px;
  background : #EEF2FC;
  border : black;
  margin : 10px;
}

#colonne-droite {
  width : 100px;
  height : 100px;
  background : #EEF2FC;
  border : black;
  margin : 10px;
}

.button {
  margin: auto;
  height: 80px;
  width: 300px;
  background:  #FF9700;
  text-align: center;
  border-radius: 30px;
  font-family: 'MyCustomFont', sans-serif;
  font-size: 30px;
}

/* #logo {
  max-width: 100%;
  height: auto;
  margin-top: -0px;
  animation-name: shrink-animation;
  animation-duration: 2s;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.shrink-animation {
  animation-name: shrink-animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes shrink-animation {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(1)
  }
}

#showcase {
  position: relative;
  height: 100vh;
}

#top-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(50% - 50px);
  background-color: #ada4ff;
  border-radius: 0 0 15% 15%;
  z-index: 9998;
  bottom: calc(-1 * var(--logo-margin-top));
}
  
#headbar {
  position: fixed;
  background-color: #6078cf;
  width : 100%;
  height: 100%;

  animation-name: intro;
  z-index: 9998;
} */


/* AnimationLogo */

@keyframes animationLogo {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}


#logo
{
  object-fit: contain;
  position: relative;
  width: 100%;
  height: 100%;
}
#conteneurLogo
{
  height: 100%;
  width: 100%;
  position: relative;
  animation-name: animationLogo;
  /* animation-duration: 2s; */
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  
}

@keyframes animationtete {
  from {
    height: 100%;
  }
  to {
    height: 25%;
  }
}

#tete
{
  animation-delay: 10;
  /* animation-delay: 2; */
  position: absolute;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #040B37;
  object-fit: contain;
  animation-name: animationtete;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
