<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Landing Page</title>
  <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
  <div id="container">
    <header id="showcase">
      <img id="logo" class="shrink-animation" src="../../public/img/OpenBar ALPHA.png" alt="Image description">
      <div id="top-box"></div>
    </header>

    <div class="content">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </div>
  </div>
</body>
</html>
