<!DOCTYPE html>
<html lang="fr-FR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Connection Page</title>
  <link rel="stylesheet" href="../../public/css/style.css">

</head>
<body>
  <header>
	<div id="tete">
		<div id="conteneurLogo">
		  <img src="../../public/img/OpenBar_ALPHA.png" width="5027" height="2845" id="logo"   alt="OpenBar_ALPHA"/>
		</div>
    </div>
  </header>
  
  <!-- main box -->
  <section id="main-box">
	  <!-- title in main box -->
	  <h2 style="text-align:center; font-size:300%; margin:10px" >Hey Name !</h2>
	  <p style="text-align:center; font-size:20px; margin:10px" >What can I get you ?</p>
	  <p style="font-size:30px; margin:10px">PRODUCTS</p>
	  <div id="panier">
		  <p style="padding-left:10px; font-size:20px">Here are your products :</p>
		  <!-- 3 colonnes : image_produit - nom produit - prix produit ( prix en fonction de si cotisant ou non dans le profil) -->
		  <div class="box">
			  <div id="colonne-gauche">image</div>
			  <div id="colonne-milieu">name produit</div>
		      <div id="colonne-droite">prix produit</div>
		  </div>
	  </div>
	  <!-- button send email -->
	  <div class="button">SEND EMAIL</div>
  </section>  
  
  <!-- button -->
  <script>

  // Get the browser window size
  var windowWidth = window.innerWidth;
  var windowHeight = window.innerHeight;
  
  </script>
  


</body>
<footer>
	<p> Join us on Discord ;)</p>
</footer>
</html>
